@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    font-family: source-serif-pro, Georgia, Cambria,黑体,宋体, "Times New Roman", Times, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb:white;
    /*--background-start-rgb: 0, 0, 0;*/
    /*--background-end-rgb: 0, 0, 0;*/
  }
}


body {
  color: rgb(var(--foreground-rgb));
    background-color: white;
  /*background: linear-gradient(*/
  /*    to bottom,*/
  /*    transparent,*/
  /*    rgb(var(--background-end-rgb))*/
  /*  )*/
  /*  rgb(var(--background-start-rgb));*/
}
